button {
    height: 80px;
    width: 250px;
    font-family: roboto, sans-serif;
    font-weight: bold;
    color: rgba(215, 20, 20, 0.759);
    border: 10px inset rgb(51, 46, 46);
    border-radius: 15px;
    margin: 5px;
    cursor: pointer;
    font-size: x-large;
}

button:hover{
    background-color: #4f4d53d2;
}

.clicButton{
    background-color: #e5dcdc33;
}

.restartButton{
    background-color: rgba(26, 22, 22, 0.206);
}