*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body{
    background-color: rgb(152, 109, 169) ;
}

.App {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    font-family: Lato, sans-serif;
}

.cont-logo{
    width: 100%;
    display: flex;
    position: absolute;
    justify-content: flex-end;
    margin-right: 20px;
    margin-top: 600px;
}

.logo{
    height: 100px;
}



.cont-principal{
    height: 550px;
    min-width: 600px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}